<div style="display: flex; direction: row; justify-content: center; margin-top: 20px;"> 

    <div style="width: 240px;height: 100px; border: 1px solid black; margin-right: 10px;">

        <div>
            title
        </div>
        <div>
            description
        </div>
        <app-icons></app-icons>
    
    </div>
    <div style="width: 240px;height: 100px; border: 1px solid black;margin-right: 10px;">

        <div>
            title
        </div>
        <div>
            description
        </div>
        <app-icons></app-icons>
    
    </div>
    <div style="width: 240px;height: 100px; border: 1px solid black;margin-right: 10px;">

        <div>
            title
        </div>
        <div>
            description
        </div>
    
    </div>
    <div style="width: 240px;height: 100px; border: 1px solid black;margin-right: 10px;">

        <div>
            title
        </div>
        <div>
            description
        </div>
        <app-icons></app-icons>
    
    </div>
    <div style="width: 240px;height: 100px; border: 1px solid black;margin-right: 10px;">

        <div>
            title
        </div>
        <div>
            description
        </div>
        <app-icons></app-icons>
    
    </div>
</div>